<div class="about" id="about">
  <div class="container">
    <div class="wthree-heading">
      <h2>关于我们</h2>
      <h4>W</h4>
    </div>
    <div class="agileits-about-grids">
      <div class="col-md-6 agileits-about-grid">
        <h4>纽森伦联合（苏州）公关顾问有限公司</h4>
        <p>
          苏州纽森伦联合文化传媒有限公司是一家以网络为枢纽、提供全方位品牌营销、公关活动、互动整合推广、危机公关、航拍摄影、广告制作等全程式服务传播机构。
          我们的团队累计服务百逾个项目，涉及国内一线地产、东南亚地产、国际金融机构、豪车品牌、快消品等诸多领域，立志成为国内优秀互动传播公关机构。
          我们欣赏勇于承担责任的人，我们更赞赏为实现自我价值而工作的人，我们希望我们的员工是发自内心的真正热爱自己工作的人、投入工作、成为工作的主人。
        </p>
      </div>
      <div class="col-md-6 agileits-about-grid">
        <h4>NEWSENLAND (SUZHOU) Public Relations Consultants Limited Company</h4>
        <p></p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
