<div class="banner">
  <!-- header -->
  <div class="header">
    <div class="container">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="w3layouts-logo">
            <h1><a href="/"><img width="50px;" src="/images/logo.png"/></a></h1>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <nav>
            <ul class="nav navbar-nav">
              <li><a href="#about" class="scroll">关于我们</a></li>
              <li><a href="#services" class="scroll">专业服务</a></li>
              <li><a href="#gallery" class="scroll">精彩案例</a></li>
              <li><a href="#team" class="scroll">高效团队</a></li>
              <li><a href="#mail" class="scroll">联系我们</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
  <!-- //header -->
  <div class="banner-top">
    <div class="container">
      <div class="slider">
        <div class="callbacks_container">
          <ul class="rslides callbacks callbacks1" id="slider4">
            <li>
              <div class="banner_text">
                <h3>策划 or 设计？</h3>
                <p>Planning or Designing ?</p>
                <div class="w3-button">
                  <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
              </div>
            </li>
            <li>
              <div class="banner_text">
                <h3>创意 or 公关？</h3>
                <p>Good Idea or Relations Consultants ?</p>
                <div class="w3-button">
                  <a href="#" data-toggle="modal" data-target="#secondModal">Read More</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--banner Slider starts Here-->
      </div>
    </div>
  </div>
</div>

<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">策划 AND 设计</h4>
      </div>
      <div class="modal-body">
        <div class="agileits-w3layouts-info">
          <img src="/images/m1.jpg" alt="" />
          <p>
            良好的策划与精心的设计， 是决定成败的重要因素。现代社会的完美营销，背后必不可少有支庞大与专业的策划与设计团队。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal about-modal fade" id="secondModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创意 AND 公关</h4>
      </div>
      <div class="modal-body">
        <div class="agileits-w3layouts-info">
          <img src="/images/m1.jpg" alt="" />
          <p>
            良好的策划与精心的设计， 是决定成败的重要因素。现代社会的完美营销，背后必不可少有支庞大与专业的策划与设计团队。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
