<div class="contact" id="mail">
  <div class="container">
    <div class="wthree-heading">
      <h3>联系我们</h3>
      <h4>C</h4>
    </div>
    <div class="contact-form">
      <form action="#" method="post">
        <input type="text" placeholder="姓名" required="">
        <input type="email" placeholder="电子邮箱" required="">
        <input type="text" placeholder="电话" required="">
        <textarea placeholder="内容..." required=""></textarea>
        <input type="submit" value=" &nbsp;&nbsp;发送&nbsp;&nbsp; ">
      </form>
    </div>
  </div>
</div>
