<footer>
  <div class="agileits-w3layouts-footer">
    <div class="container">
      <div class="col-md-4 w3-agile-grid">
        <h5>纽森伦</h5>
        <p>本站是公司官方网站，公司的最新咨询与项目经验将在这里和大家分享，欢迎查阅与交流。若有问题，请联系我们。</p>
        <div class="agileinfo-social-grids">
          <img src="/images/logo.png"/>
          <!--
               <ul>
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-rss"></i></a></li>
               <li><a href="#"><i class="fa fa-vk"></i></a></li>
               </ul>
             -->
        </div>
      </div>
      <div class="col-md-4 w3-agile-grid">
        <h5>最新活动情报</h5>
        <div class="w3ls-post-grids">

          <div class="w3ls-post-grid">
            <div class="w3ls-post-img">
              <a href="#"><img src="/images/2.jpg" alt="" /></a>
            </div>
            <div class="w3ls-post-info">
              <h6><a>龙湖时代天街</a></h6>
              <p>9-24, 2017</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="w3ls-post-grid">
            <div class="w3ls-post-img">
              <a href="#"><img src="/images/3.jpg" alt="" /></a>
            </div>
            <div class="w3ls-post-info">
              <h6><a>万科城</a></h6>
              <p>9-24, 2017</p>
            </div>
            <div class="clearfix"> </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 w3-agile-grid">
        <h5>联系方式</h5>
        <div class="w3-address">
          <div class="w3-address-grid">
            <div class="w3-address-left">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="w3-address-right">
              <h6>联系电话</h6>
              <p>0512-66075117</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="w3-address-grid">
            <div class="w3-address-left">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="w3-address-right">
              <h6>QQ 和 Email</h6>
              <p>
                634918309 :<a href="mailto:huachuang20@gmail.com"> huachuang20@gmail.com</a>
                634918309 :<a href="mailto:huachuang20@gmail.com"> huachuang20@gmail.com</a>
              </p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="w3-address-grid">
            <div class="w3-address-left">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="w3-address-right">
              <h6>地址</h6>
              <p>中国苏州工业园区苏华路1号世纪金融大厦1608室 Suzhou, Jiangsu, China</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>© 2017 NEWSENLAND. All rights reserved | 纽森伦联合（苏州）公关顾问有限公司</a></p>
</div>
</div>
</footer>
