<div class="gallery" id="gallery">
  <div class="container">
    <div class="wthree-heading">
      <h3>精彩案例</h3>
      <h4>V</h4>
    </div>
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <br>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
          <div class="w3_tab_img">

            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/2.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2">
                    <img src="/images/2.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>

            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/3.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/3.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/4.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/4.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/5.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/5.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/6.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/6.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/7.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/7.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/8.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/8.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>
            <div class="col-md-3 w3_tab_img_left">
              <div class="demo">
                <a class="cm-overlay" href="/images/9.jpg">
                  <figure class="imghvr-shutter-in-out-diag-2"><img src="/images/9.jpg" alt=" " class="img-responsive" />
                  </figure>
                </a>
              </div>
            </div>

            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
