<div class="services" id="services">
  <div class="container">
    <div class="wthree-heading">
      <h3>专业服务</h3>
      <h4>S</h4>
    </div>
    <div class="services-grids">
      <div class="col-md-12 wthree-services-grids">
        <div class="col-md-6 w3-agileits-services-grid text-center">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <h4>活动策划</h4>
          <p>一年上百场活动的经验沉淀。各种新颖的活动，提升企业感染力与亲和力。</p>
        </div>
        <div class="col-md-6 w3-agileits-services-grid agile-services1 text-center">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <h4>品牌推广</h4>
          <p>让你的企业名扬四海，提升至超强的影响力，大江南北，蜚声海外。</p>
        </div>
        <div class="col-md-6 w3-agileits-services-grid text-center">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h4>视觉设计</h4>
          <p>专业的设计师团队，一流的鉴赏人员。冲击你的视觉，</p>
        </div>
        <div class="col-md-6 w3-agileits-services-grid text-center">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <h4>公关顾问</h4>
          <p>企业的名声比人的名声更为重要，互联网时代的信息传输比你想象的更快。</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
