<div class="jarallax team" id="team">
  <div class="container">
    <div class="wthree-heading team-heading">
      <h3>高效团队</h3>
      <h4>T</h4>
    </div>
    <div class="agileits-team-grids">
      <div class="col-md-3 agileits-team-grid">
        <div class="team-info">
          <img src="/images/join.jpg" alt="">
          <div class="team-caption">
            <h4>吴蕾</h4>
            <p>CEO</p>
            <ul>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="123456789"><i class="fa fa-qq"></i></a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="asdfasdxs"><i class="fa fa-weixin"></i></a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="@gmail"><i class="fa fa-envelope-o"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileits-team-grid">
        <div class="team-info">
          <img src="/images/join.jpg" alt="">
          <div class="team-caption">
            <h4>曲畅</h4>
            <p>客户经理</p>
            <ul>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="123456789"><i class="fa fa-qq"></i></a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="asdfasdxs"><i class="fa fa-weixin"></i></a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="@gmail"><i class="fa fa-envelope-o"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileits-team-grid">
        <div class="team-info">
          <img src="/images/join.jpg" alt="">
          <div class="team-caption">
            <h4>赵文静</h4>
            <p>策划师</p>
            <ul>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="123456789"><i class="fa fa-qq"></i></a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="asdfasdxs"><i class="fa fa-weixin"></i></a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="@gmail"><i class="fa fa-envelope-o"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileits-team-grid">
        <div class="team-info">
          <img src="/images/join.jpg" alt="">
          <div class="team-caption">
            <h4>期待你的加入！</h4>
            <p>
              我们的要求很简单。<br>只要你够优秀，<br>一切都不是问题。
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
